/* Используемые цвета:
   tomato, lightseagreen, #ffd700
*/

svg {
  border: 1px solid #dddddd;
}
.rect-4 {
    fill: none;   
}
.rect-2 {
    fill: lightseagreen;
    fill-opacity: 0.5;   
}
.rect-1 {
    fill: tomato;   
}
.rect-3 {
    fill: #ffd700;   
}