html, 
body {
    margin: 0;
    padding: 0;
}
body {
    width: 380px;
    min-height: 280px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}
.main-menu {
    background: #2980b9;
    margin: 0;
    padding: 0;
    width: 200px;
}
.main-menu>li {
    position: relative;
    list-style: none;
    padding: 10px 15px;
    border-bottom: 2px solid #2c3e50;
}
.main-menu li a {
    text-decoration: none;
    color: #ffffff;
}
.main-menu .sub-menu {
    position: absolute;
    background: #1abc9c;
    padding: 0;
    top: 0px;
    left: 180px;
    display: none;
    z-index: 10;
    width: 200px;
}
.sub-menu li {
    
    list-style: none;
    padding: 10px 15px;
    border-bottom: 2px solid #2ecc71;
}
.main-menu>.opened {
     background: #1abc9c;  
}
.main-menu .opened .sub-menu {
      display: block; 
}