html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 540px;
    min-height: 290px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #3a78a1;
    background-image: url("/assets/course9/grid.png");
    background-repeat: repeat;
    background-position: -80px -80px;
}

.block {
    background: rgba(0, 255, 255, 0.2);
    border: 2px solid white;
}
.block1 {
    width: 196px;
    height: 36px;
}
.block2 {
    margin-left: 120px;  
    margin-top: 20px;
    width: 96px;
    height: 46px;
    padding-left: 40px;
    padding-top: 10px;
    
}
.block3 {
    margin-left: 20px;
    margin-top: 20px;
    border: 12px solid;
    width: 171px;
    height: 31px;
    padding-left: 5px;
    padding-top: 5px;
}